.abReq-header{
    background-color:#000000;
}

.abReq-left-png{
    margin-left: 0;
}

.abReq-top-right{
    display: flex;
}

.abReq-admin-links{
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
}

.abReq-logout-btn{
    font-weight: bold;
}

.abReq-links{
    text-decoration: none;
    margin: 2px;
    font-weight: bold;
}

.abReq-link-color{
    color: #acd1f3;
}