.eDash-header{
    background-color:#000000;
}

.eDash-left-png{
    margin-left: 0;
}

.eDash-top-right{
    display: flex;
}

.eDash-foot{

}

.eDash-admin-links{
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
}

.eDash-logout-btn{
    font-weight: bold;
}

.eDash-links{
    text-decoration: none;
    margin: 2px;
    font-weight: bold;
}

.eDash-link-color{
    color: #acd1f3;
}

.eDash-top-text{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 5px;
    /* border: 1px solid; */
    padding: 10px;
    box-shadow: 5px 10px 8px #2e2b2b;
}

.eDash-top-text > h2{
    font-weight: bold;
    color: #1a7dda;
}
.eDash-top-text>p{
    font-weight: bold;
}

.card-group{
    margin-top: 20px;
}

.card{
    text-align: center;
    font-family: Roboto, sans-serif;
    margin: 7px;
}

.stat-size{
    font-size: 9vh;
    font-weight: bold;
}

.card-text{
    font-size: 2vh;
}

.card-header{
    font-size: 14px;
    font-weight: bold;
}

.tbody{
    font-size: 12px;
    padding: 0px;
}

.tr-left{
    text-align: left;
}

.tr-right{
    text-align: right;
}

.eDash-table2-div{
    margin-top: 20px;
    padding: 0;
    font-family: Roboto, sans-serif;
    margin-bottom: 25px;
}

.eDash-table2{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.eDash-tbl2-txt{
    font-weight: bold;
    color: #1a7dda;
}
.dash-txt{
    margin-left: 5px;
}

.approved{
    color: #ffffff;
    background-color: #117a34;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    margin-top: 5px;
    padding: 0px;
}

.pending{
    color: #ffffff;
    background-color: #f09a29;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    margin-top: 5px;
    padding: 0px;
}

.rejected{
    color: #ffffff;
    background-color: #e42323;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    margin-top: 5px;
    padding: 0px;
}

.eDashCal{    
    width: 215vh;  
    justify-content: center;  
}

.dayPik{
    margin: auto;
    background-color: #f7dfe7;
}

.eDash-calDiv{
    justify-content: center;
}

.tr-pad{
    
}
/* style="max-width: 18rem;" */